<!-- © -> Alt + 0169(numeric keypad)  -->

<footer>
    <div class="f-info">
        <div class="f-info-brand">© <%= new Date().getFullYear() %> HomeHop — All Rights Reserved.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>