<% layout('layouts/BaseLayout.ejs') %>

<h3 class="container mb-4">All Listings</h3>

<div class="cards-container">
    <% for (let list of listings) { %>
        <a href='/listings/<%= list._id %>' style="text-decoration: none;">
            <div class="card" style="width: 19rem;">
                <img src=<%= list.image %> class="card-img-top" alt="listing_image">
                <div class="card-body">
                    <p class="card-title"><%= list.title %></p>
                    <p class="card-text">&#8377;<%= list.price.toLocaleString('en-IN') %> / night</p>
                </div>
            </div>        
        </a>
    <% } %>
</div>