<% layout('layouts/BaseLayout.ejs') %>

<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div> 
        <h1 style="text-align: center">Welcome to HomeHop</h1>
        <p style="text-align: center">Find your perfect stay. Simple, clean, and fast.</p>
        <div style="text-align: center;">
            <a href="/listings" class="btn btn-primary"style="text-align: center">Browse Listings</a>
        </div>
    </div>
</div>